.nodeBase {
    cursor: pointer;
    fill: #90EE90 !important;
    stroke: #000;
    stroke-width: 2;
}

.nodeAttributesBase {
    fill: #000 !important;
    stroke: #000 !important;
    stroke-width: 1;
    font-size: smaller;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

.filter-style {
    background-color: #EDE3DB;
    width: 100% !important;
    padding: 5px;
}

.container {
    width: 100%;
}